<div class="container d-flex align-items-center justify-content-center">
  <div class="cardAddSong p-3 mt-2 shadow">
    <div class="home-start-button">
      <%= link_to 'back', manage_playlist_playlist_songs_path(@playlist), class: ' btn btn-modern' %>
    </div>
      <div class="addSong mt-5">
        <div class="mb-4">
          <h1>Add it to your playlist</h1>
        </div>

        <div data-controller="search">
          <%= form_with url: new_playlist_playlist_song_path, method: :get, class: "searchform",
              html: {data: {search_target: "form"}} do |f| %>
            <%= f.text_field :search, placeholder: "Search for a song", value: params[:query], data: {search_target: "input", action: "keyup->search#update"} %>
          <% end %>

          <div class="dropdown">
            <%= render "list", tracks: @tracks, playlist: @playlist %>
          </div>
        </div>
      </div>
  </div>
</div>
