<h1 class="d-flex justify-content-center text-white">About Us</h1>
<section class="container mt-3 text-center">
  <div class="mx-auto" style="max-width: 800px;">
  <h2>Our Story</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu dolor eu felis tincidunt gravida vel non
    felis. Vestibulum vestibulum erat vel tellus aliquam, id luctus tortor tristique. Duis vel massa et massa
    tincidunt accumsan ac ac mi.</p>

  <h2>Our Mission</h2>
    <p>Quisque at congue elit, nec gravida lectus. Nam euismod lectus vel risus pharetra, sit amet ullamcorper purus
    fringilla. Proin non dapibus elit. Integer eu augue vel velit tincidunt consequat vel sit amet ex.</p>

  <h2>Meet the Team</h2>
    <p>Our dedicated team is committed to providing the best service. Lorem ipsum dolor sit amet, consectetur adipiscing
    elit. Proin eu odio vel justo cursus auctor vel et mauris.</p>

    <div class="container mt-4">
      <div class="row justify-content-between">
      <div class="col-3">
      <p class="text-white text-center"> Miller</p>
          <%= image_tag "mixmate1.gif", class: "img-thumbnail rounded-circle small-img" %>
      </div>
      <div class="col-3">
      <p class="text-white text-center"> Helena</p>
        <%= image_tag "mixmate3.gif", class: "img-thumbnail rounded-circle small-img" %>
      </div>
      <div class="col-3">
      <p class="text-white text-center"> Bence</p>
          <%= image_tag "mixmate2.gif", class: "img-thumbnail rounded-circle small-img"%>
      </div>
      <div class="col-3">
      <p class="text-white text-center"> Caro</p>
        <%= image_tag "mixmate4.gif", class: "img-thumbnail rounded-circle small-img" %>
      </div>
    </div>
  </div>
  </div>
</section>
