.conBG {
  background-image: url("https://images.unsplash.com/photo-1582220107107-590dc8b0fad3?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG11c2ljJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D"); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: fixed or scroll, depending on whether you want the background to scroll with the content or stay fixed */
}


.logo {
  width: 100px;
  height: 100px;
  border: 2px solid #333; /* Add a 2px solid border with color #333 */
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.pt {
  padding-top: 100px;
}

.card {
  border-radius: 10px !important;
}

body {
  background: rgb(140,82,255);
  background: linear-gradient(90deg, rgba(140,82,255,1) 0%, rgba(0,191,99,1) 100%);
}
.dashBG {
  background: rgb(140,82,255);
  background: linear-gradient(90deg, rgba(140,82,255,1) 0%, rgba(0,191,99,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
