/*<!-- HTML !-->
<button class="button-64" role="button"><span class="text">Button 64</span></button>
*/
/* CSS */

.button-64 {
  align-items: center;
  background-color: #7f4fd3;
  border:#7f4fd3;
  /* Change to Spotify purple */
  /* Add border color */
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); // Same box shadow
  box-sizing: border-box;
  color: #FFFFFF;
  /* Change to white */
  display: flex;// Same font size
  font-weight: bold; //
  font-size: 24px;
  justify-content: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 12px;
}

.button-64 span {
  transition: background 300ms;
  display: inline-block;
}


.button-64 .fa-spotify {
  color: white;
  font-size: 24px;
  margin-right: 10px;
  /* Adjust spacing if needed */
}

@media (min-width: 768px) {
  .button-64 .fa-spotify {
    font-size: 36px;
    /* Adjust size for larger screens */
  }
}

.button-64:active,
.button-64:hover {
  background-color: #1DB954;
  border: 1px solid #1DB954;
  /* Change background color on hover */
  color: white;
  /* Change text color on hover */
}


.link {
  text-decoration: none !important;
}

.back {
  color: #5D26C1;
  font-size: 2em;
}

// Styles for home-start-button
.home-start-button .btn-modern {
  background-color: #683ab787; // Initial background color
  color: white; // Text color
  border: none;
  border-radius: 20px; // Rounded borders
  padding: 10px 25px; // Padding
  font-size: 1rem; // Font size
  font-weight: bold; // Bold text
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); // Shadow for depth
  transition: all 0.3s ease; // Smooth transition
  text-transform: uppercase; // Uppercase text
  letter-spacing: 1px; // Letter spacing
  cursor: pointer; // Cursor
}

.home-start-button .btn-modern:hover {
  background-color: #7f4fd3; // Darker shade for hover state
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); // Enhanced shadow on hover
  transform: translateY(-2px); // Lift effect on hover
}
.sticky-button {
  position: fixed;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);
  z-index: 1000;
}

.sticky-button button {
  background-color: #ff6b6b7f;
  /* A modern, eye-catching color */
  color: white;
  border: none;
  border-radius: 15px;
  /* More pronounced border-radius for a modern look */
  padding: 15px 30px;
  /* Bigger padding for a larger button */
  cursor: pointer;
  font-size: 1.2rem;
  /* Larger text for prominence */
  font-weight: bold;
  /* Bold text for better visibility */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  /* Subtle shadow for depth */
  transition: background-color 0.3s, transform 0.3s;
  /* Smooth transition for hover effects */
}

.sticky-button button:hover {
  background-color: #FF5050;
  /* A slightly darker shade for the hover state */
  transform: translateY(-2px);
  /* A subtle lift effect on hover */
}

@media (max-width: $breakpoint-sm) {
  .sticky-button {
    bottom: 60px;
    /* Adjust for smaller screens */
  }
}

// Define new class for Start button
.start-button {
  background-color: #00bf63; // Same background color as sticky button
  color: white;
  border: none;
  border-radius: 15px; // Same border radius
  padding: 15px 30px; // Same padding
  cursor: pointer;
  font-size: 1.2rem; // Same font size
  font-weight: bold; // Same font weight
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); // Same box shadow
  transition: background-color 0.3s, transform 0.3s; // Same transition
  margin-bottom: 4px;

  &:hover {
    background-color: #00bf63;
    transform: translateY(-2px); // Same transform effect
    text-decoration: none;
  }
}

.start-button-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.start-button-2 {
  margin-bottom: 70px;
}

.add {
  margin-top: 45px;
  border-radius: 50%;
  background-color: #00bf63;
  border: 0px;
  height: 50px;
  width: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); // Same box shadow
  transition: background-color 0.3s, transform 0.3s; // Same transition

  &:hover {
      font-weight: bolder;
      transform: scale(1.2); // Slight zoom effect on hover
    }


  .plus {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
}

.navigation-buttons {
  position: fixed; // Fixed positioning relative to the viewport
  bottom: 0; // Aligns the container to the bottom of the viewport
  left: 0; // Aligns the container to the left of the viewport
  width: 100%; // Ensures the container spans the full width of the screen
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  background-color: #ffffff00; // A background color is needed to cover content below
  z-index: 1000; // Ensures the navigation buttons are above other content
  margin-bottom: 5px;
  // Add a box shadow or a border-top if you want to distinguish the navbar from the content below
}

// Button Styles
.btn-modern {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.btn-secondary {
    border-radius: 15px;
    background-color: #565b5f8f;
    color: white;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &.btn-success {
    font-weight: 500;
    border-radius: 15px;
    background-color: #8b52febf;
    color: white;

    &:hover {
      background-color: #7b48df;
    }
  }

  &.btn-primary {
    font-weight: 500;
    border-radius: 10px;
    background-color: #004cff97;
    color: white;

    &:hover {
      background-color: #ff8c0097;
    }
  }

  i {
    margin-right: 8px;
  }
}

.block {
    display: block;
    height: 60px;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 8px;
}

 .btn-share:not([disabled]):focus {
   box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(0, 191, 99, 1), .125rem .125rem 1rem rgba(0, 191, 99, 1);
   border-color: #E0CCF3;
 }

 .btn-share:not([disabled]):hover {
   box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(140, 82, 255, 1), .125rem .125rem 1rem rgba(140, 82, 255, 1);
   text-decoration: none !important;
   border-color: #E0CCF3;
 }
