.cardDash {
  background-color: #f8f9fa59;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cardAddSong {
  background-color: #f8f9fa59;
  border-radius: 8px;
  opacity: 1;
  width: 800px;
  margin-bottom: 50px;
}

.cardManage {
  background-color: #f8f9fa59;
  border-radius: 8px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 20px;
  margin-top: 20px;
}
