.dashboard {

  h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #5D26C1;
  }

  h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .card {
    background-color: #5D26C1;
    border: none !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); // Same box shadow

    &:hover {
      transform: scale(1.05);
      background-color: #A17FE0;
    }
  }

  .skip {
    color: #A17FE0;
  }
}
