.dashboard {

  h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #A17FE0;
  }

  p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #5D26C1;
  }

  h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .card {
    background-color: #E0CCF3;
    border: none !important;
  }
}
