        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; // Added to align items vertically
            margin-top: 20px;
        }

        .login-card {
            align-items: flex-start;
            width: 40%;
            background: rgba(255, 255, 255, 0.455);
            backdrop-filter: blur(10px);
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-top: 0; // Removed margin-top to align with login container
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); // Slight inner shadow for depth
        }

        .toggle-password {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
        }

        .login-btn,
        .submit-btn {
            // Same styles for login and submit buttons
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #00B74A; // Green color
            color: white;
            font-size: 1.1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: darken(#00B74A, 10%);
            }
        }

        .form-label,
        .form-label-checkbox {
            display: block;
            margin-bottom: 5px;
        }

        .form-checkbox {
            margin-right: 10px;
        }

        @media (max-width: 768px) {
            .login-card {
                width: 90%; // Full width on small screens
            }
        }

        .form-check {
            text-align: left;
            margin-top: 15px;
        }

        .form-check-input {
            width: 20px;
            height: 20px;
            margin-left: 0;
            margin-top: 0;
            vertical-align: middle;
            position: relative;
            border-radius: 5px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            cursor: pointer;
            &:checked {
                background-color: #00B74A;
                border-color: #00B74A;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 2px;
                    left: 7px;
                    width: 6px;
                    height: 12px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }
        }

        .form-check-label {
            margin-left: 5px;
            font-size: 0.9rem;
            user-select: none;
            cursor: pointer;
        }

        .simple_form .form-inputs {
            // This targets the container for form inputs
            display: flex;
            flex-direction: column;
            align-items: flex-start; // This aligns items to the start of the flex container (left side)
        }

        .simple_form label {
            // This targets all labels within the simple form
            text-align: left; // Ensures text is aligned to the left
            margin-bottom: .5rem;
            margin-top: .5rem; // Spacing below the label
            font-weight: bold; // Makes the label text bold
        }

        .container {
            .row {
                justify-content: center;
                align-items: center;
                margin-top: 5rem; // Adjust margin-top as needed
                .cardDash {
                    padding: 1rem 0 0;
                    background: rgba(255, 255, 255, 0.455);
                    backdrop-filter: blur(10px);
                    border-radius: 10px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    text-align: center;
                    h1 {
                        font-size: 2rem;
                        font-weight: 700;
                        margin-bottom: 2rem; // Increased bottom margin for more space
                        color: #000000;
                        margin-top: 50px;
                    }
                    p {
                        font-size: 1.2rem;
                        font-weight: 500;
                        margin: 1rem 0; // Increased margin for more space between details
                        color: #34495E;
                    }
                    .song-details {
                        text-align: left; // Align the text to the left
                        margin-bottom: 1rem;
                        p {
                            margin-bottom: 0.5rem; // Adjust space between song and artist
                        }
                    }
                    .form-group {
                        margin-bottom: 2rem; // Increased bottom margin for more space above input
                        label {
                            font-size: 1rem;
                            font-weight: 600;
                            text-align: left;
                            margin-bottom: 0.5rem;
                            color: #000000;
                        }
                        .form-control {
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            border: 1px solid #ccc;
                            font-size: 1rem;
                            color: #2C3E50;
                            margin-bottom: 5rem;
                        }
                    }
                    .home-start-button {
                        .d-flex {
                            justify-content: space-between;
                            margin-bottom: 1rem;
                        }
                        .btn-modern {
                            // Your existing styles for .btn-modern
                        }
                    }
                    .fa-arrow-left {
                        color: #fff;
                    }
                }
            }
        }

        .form-group {
            text-align: left;
        }

        .edit-playlist-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 100vh;
        }

        .edit-playlist-card {
            width: 80%;
            max-width: 600px;
            padding: 2rem;
            background: rgba(255, 255, 255, 0.455);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            .form {
                h1 {
                    margin-bottom: 1.5rem;
                    font-size: 2rem;
                    color: #333;
                }
                .form-group {
                    margin-bottom: 1rem;
                    text-align: left;
                    label {
                        font-size: 1rem;
                        font-weight: 600;
                        color: #000000;
                    }
                    .form-control {
                        width: 100%;
                        padding: 10px;
                        border-radius: 5px;
                        border: 1px solid #000000;
                        margin-bottom: 1rem;
                    }
                }
                .form-actions {
                    margin-top: 1.5rem;
                }
            }
        }

        .edit-playlist-container .simple_form .form-group label {
            color: black !important;
        }

        .d-flex {
            margin-top: 50px;
            margin-bottom: 0px;
        }
