.navbar-lewagon {
    justify-content: space-between;
    background: var(--bs-body-bg);
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: #59C173;
}
