.preview {

  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
  }

  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }

  h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .card-text {
    font-family: 'Handwriting', sans-serif;
    color: #5D26C1;
    padding-top: 20px;
  }

  .card {
    height: 30em;
    width: 50em;
    // background-image: linear-gradient(rgba(243, 240, 240, 0.5), rgba(234, 233, 233, 0.5)), url(mixtape.png); // Adjust the path as needed
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f8f9fa59;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 5px solid #5D26C1;
    border-style: double;
    margin-bottom: 20px;
  }


  .card-message {
    background-color: white;
    height: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: bottom;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-left: 25px;
    clip-path: polygon(5% 0%, 95% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);

    h4 {
      font-family: 'Handwriting', sans-serif;
      color: #5D26C1;
    }

    p {
      font-family: 'Handwriting', sans-serif;
      color: #5D26C1;
      font-size: 20px;
    }
  }

  .card-wrap {
    background-color: white;
    justify-content: center;
    height: 120em;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 94%, 95% 100%, 5% 100%, 0 94%, 0 5%);

    h1, h2, h3, h4, h5 {
      font-family: 'Handwriting', sans-serif;
      color: #5D26C1;
    }

    p {
      font-family: 'Handwriting', sans-serif;
      color: #5D26C1;
      font-size: 20px;
    }

    .btn-play {
      font-size: 6em;
      color: #5D26C1;
    }
  }

  .icon {
    color: #5D26C1;
    font-size: 2em;
  }

  .underline{
    border-bottom: 1px solid #5D26C1;
    width: 95%;
    display: block;
    }

  .link {
    text-decoration: none;
  }
}
