.dropdown {
  display: flex;
  justify-content: center;
}

.add {
  margin-top: 45px;
  border-radius: 50%;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0px;
  height: 50px;
  width: 50px;


  .plus {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
}

