<h1>Thank you for using</h1>

<h2>YOUR MIX/MATE HAS BEEN SUCCESSFULLY SEND TO ________!</h2>


<div class="row justify-content-center">
  <div class="col-6">
    <b><%= link_to "Create another Playlist", new_playlist_path, class: "btn btn-primary" %></b>
  </div>
</div>


<%# <%= link_to 'Click here for confirmation', playlist_confirmation_path %>
