<div class="container min-vh-100 pt">
<div class="col text-center">
<h1>Thank you for using MIX/MATE</h1>
<%= image_tag "logo.png", style: 'height:200px; width:auto; margin-bottom: 20px;' %>
<h2>YOUR MIX/MATE HAS BEEN SUCCESSFULLY CREATED!</h2>
</div>


  <div class="col text-center mt-5 rounded-5">
    <b><%= link_to "Create another Playlist", new_playlist_path, class: "btn btn-primary" %></b>
  </div>
<%# <%= link_to 'Click here for confirmation', playlist_confirmation_path %>
</div>
