<div class="container">
  <div class="cardDash p-5 shadow">
    <div class="form">
      <span><h1 class="text-center"> Edit your Playlist Information</h1>

      <%= render "form", playlist: @playlist %>
    </div>
  </div>
</div>
