<div class="preview">
  <div class="container">

    <div class="text-end">
      <h1>Receivers View</h1>
    </div>


    <% @playlist.playlist_songs.each do |playlist_song| %>
    <% end %>

    <%= render "slider" %>
  </div>
</div>
